.div1{
    text-align: center;
    margin-top: 10%;;
    box-shadow: rgba(14, 13, 13, 0.35) 0px 5px 15px;;
     width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left:45%;
    background-color: rgb(30, 209, 17);
    border-radius: 10px;


}
.btn
{
    background-color: rgb(11, 12, 12);
    color: rgb(70, 145, 145);
    border-radius: 10%;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border: 0px;
}